PORT=5501
NODE_ENV=dev
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your-db-password-here
DB_NAME=food_store_auth
REFRESH_TOKEN_SECRET=your-secret-key-here
JWKS_URI=http://localhost:5501/.well-known/jwks.json
MAIN_DOMAIN=localhost
CLIENT_UI_DOMAIN=http://localhost:3000
ADMIN_UI_DOMAIN=http://localhost:5173

# Production Database Template
# USERNAME: your_db_user
# PASSWORD: your_db_password
# DATABASE: mongodb+srv://username:password@cluster.mongodb.net/?appName=app

# KAFKA Creds Template
# BOOTSTRAP_SERVERS:pkc-example.ap-south-2.aws.confluent.cloud:9092
# KAFKA_KEY:your_kafka_key
# KAFKA_SECRET_KEY:your_kafka_secret