PORT=5501
NODE_ENV=dev
DB_HOST=aws-1-ap-south-1.pooler.supabase.com
DB_PORT=6543
DB_USERNAME=postgres.tclavzitibepakqqpejl
DB_PASSWORD=REMOVED_SUPABASE_PASSWORD
DB_NAME=postgres
REFRESH_TOKEN_SECRET=your-secret-key-here
JWKS_URI=http://localhost:5501/.well-known/jwks.json

# Production Database
# USERNAME: mrjasim87_db_user
# PASSWORD: REMOVED_MONGO_PASSWORD
# DATABASE: mongodb+srv://mrjasim87_db_user:REMOVED_MONGO_PASSWORD@food-store-prod-cluster.feyn9gv.mongodb.net/?appName=food-store-prod-cluster

# KAFKA Creds
# BOOTSRAP_SERVERS:pkc-9q8rv.ap-south-2.aws.confluent.cloud:9092
# KAFKA_KEY:REMOVED_KAFKA_KEY
# KAFKA_SECRET_KEY:REMOVED_KAFKA_SECRET